node_modules
.next
out
data/visits.json
data/visits.db
data/visits.db-shm
data/visits.db-wal
auth
auth-wal
db
db-wal
tsconfig.tsbuildinfo
data/photos/
data/public-url.json
.env.local
.env
.env.local
*.log
.DS_Store
.vercel
.env*
